<form action="{{ path('comic_results') }}" method="POST" class="navbar-form form-search pull-right">
    {{ form_widget(form.research) }}
    <button type="submit" class="btn">Rechercher</button>
    {{ form_widget(form) }}
</form>